<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>App</title>
</head>

<body>

    <form method="POST">
        <input name="test" />
        <input type="submit"></input>
    </form>

    <pre>{{ params }}</pre>
</body>

</html>